main {
    .banner img {
        width: 100%;
        height: auto;
        }
    aside {
        h1 {
            text-align: center;
            color: white;
            margin-top: 40px;
            }
        }
    }